.SneakerDirectory {
  padding-top: 2em;
}

.SneakerDirectory .ContentContainer {
  display: flex;
  margin-top: 2em;
}

.SneakerDirectory-filters {
  width: 25%;
}

.SneakerDirectory-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
}
