footer.footer
        a.logo.footer-logo(href='logo') Jonah's Place

        .footer-right
            ul.footer-links
                li
                    a.footer-link(href='#') About us
                li
                    a.footer-link(href='#') Careers
                li
                    a.footer-link(href='#') Stores
                li
                    a.footer-link(href='#') Contact
            
            p &#169; by Chino Nwabueze