header.header
    .header-container.nav
        a.logo.home-link(href='/') Jonah's Place
        button.hamburger(aria-label='open-nav') &#9776
    
        .shop-nav.close-nav

            a.nav-item.sneaker-link.air-jordan(href='/sneakers/air-jordan') Air Jordans
            .nested-shop-nav.close-dropdown-nav#air-jordan
                a.nested-shop-nav-item(href='#') Air Jordan 1
                a.nested-shop-nav-item(href='#') Air Jordan 3
                a.nested-shop-nav-item(href='#') Air Jordan 4
                a.nested-shop-nav-item(href='#') Air Jordan 5
                a.nested-shop-nav-item(href='#') Air Jordan 7

            a.nav-item.sneaker-link.nike(href='/sneakers/nike') Nike
            .nested-shop-nav.close-dropdown-nav#nike
                a.nested-shop-nav-item(href='#') Air Max
                a.nested-shop-nav-item(href='#') Air Force 1
                a.nested-shop-nav-item(href='#') Blazer
                a.nested-shop-nav-item(href='#') Kobe Bryant
                a.nested-shop-nav-item(href='#') Kyrie Irving
                a.nested-shop-nav-item(href='#') Kevin Durant

            a.nav-item.sneaker-link.adidas(href='/sneakers/adidas') Adidas
            .nested-shop-nav.close-dropdown-nav#adidas
                a.nested-shop-nav-item(href='#') Yeezy
                a.nested-shop-nav-item(href='#') Ultra boost
                a.nested-shop-nav-item(href='#') Superstar
            
            a.nav-item.sneaker-link.nb(href='#') New Balance
            .nested-shop-nav.close-dropdown-nav#nb
                a.nested-shop-nav-item(href='#') 990
                a.nested-shop-nav-item(href='#') 574
                a.nested-shop-nav-item(href='#') 1500
        
        .container.sca-container.close-nav
            .ca-container
                a.nav-item.cart-button(href='#')
                    i.fas.fa-shopping-cart.fa-sm
                    p.cart-button-text cart
                .v-line
                if user
                    a.nav-item.account-link.active-account= `Hi, ${user.name.split(' ')[0]}`
                    
                    .nested-account-nav
                        button.account-filter-exit(type='button') &times;
                        a.nested-account-nav-item(href="/me") My Account
                        a.nested-account-nav-item(href="#") My Orders
                        a.nested-account-nav-item(href="#") Track My Order
                        button.nested-account-nav-item.account-logout Log Out

                else
                    a.nav-item.account-link(href='/login') Account
        
