doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/styles2.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap')
        script(src='https://kit.fontawesome.com/e556938a57.js' crossorigin='anonymous')
        title Jonah's Place

    body
        include _header
        
        .content-container
            .account-container.inner-content-container
                h1.my-account-header= `Hi, ${user.name.split(' ')[0]}`
                h2.my-account-settings-header here are your account settings
                h2.edit-success-header.success-header Edit Successful
                h2.edit-error-header.error-header invalid email
                form.account-form.edit-form
                        label(for="name") name
                        br
                        input.account-input.edit-input(type="text" id="name" name="name" value=`${user.name}`)
                        br
                        label(for="email") email
                        br
                        input.account-input.edit-input(type="email" id="email" name="email" value=`${user.email}`)
                        br
                        button.account-submit.edit-submit(type="submit") Edit
                
                .line-break
                h2.my-account-settings-header want to change your password?
                h2.password-success-header.success-header Password Change Successful
                h2.password-error-header.error-header
                form.account-form.password-change-form
                        label(for="current-password") current password
                        br
                        input.account-input.password-change-input(type="password" id="current-password" name="current-password" required)
                        br
                        label(for="new-password") new password
                        br
                        input.account-input.password-change-input(type="password" id="new-password" name="new-password" required)
                        label(for="confirm-password") confirm password
                        br
                        input.account-input.password-change-input(type="password" id="confirm-password" name="confirm-password" required)
                        br
                        button.account-submit.password-change-submit(type="submit") change password
        
        include _footer


    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha512-3BBFWr73Xrf8GRjO+0pl0cbVwESBvg3ovnuCXpoqOkC/mkt/hTkFtutUPrwRz8eLySYvy5v1daulkyUZYvH8jw==" crossorigin="anonymous")
    script(src='/scripts/navScript.js')
    script(src='/scripts/loginScript.js')
    script(src='/scripts/updateAccountScript.js')