doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/styles2.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap')
        script(src='https://kit.fontawesome.com/e556938a57.js' crossorigin='anonymous')
        title Jonah's Place

    body
        include _header

        .content-container 
            .login-container.inner-content-container

        include _footer