doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/styles2.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap')
        script(src='https://kit.fontawesome.com/e556938a57.js' crossorigin='anonymous')
        title Jonah's Place

    body
        include _header

        .content-container 
                .login-container.inner-content-container
                    h1.login-header login
                    h2.input-error-header.hide-header Invalid Email or Password
                    form.login-form
                        label(for="email") email
                        br
                        input.login-input(type="email" id="email" name="email" required)
                        br
                        label(for="password") password
                        br
                        input.login-input(type="password" id="password" name="password" minlength="8" required)
                        br
                        button.login-submit(type="submit") Login
            

        include _footer
        
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha512-3BBFWr73Xrf8GRjO+0pl0cbVwESBvg3ovnuCXpoqOkC/mkt/hTkFtutUPrwRz8eLySYvy5v1daulkyUZYvH8jw==" crossorigin="anonymous")
        script(src='/scripts/navScript.js')
        script(src='/scripts/loginScript.js')