extends baseEmail

block content 
    p Hi #{firstName},
    p Forgot your password? Dont worry we got you! Submit a PATCH requestwith your newpassword and passwordConfirm to: #{url}
    p Webpage for this action is not yet implemented.
    p - Peace
